body {
    background-size: cover;
}

.heading {
    color: rgb(252, 252, 252);
    font-size : 25px;
    width : 100%;
    margin : 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.note {
    font-size: 17px;
    color: rgb(70, 2, 77);
}

.div_speed {
    float: left;
}

.div_speed_img, .div_volume_img {
    width: 200px;
    border-radius: 100px;
}

#speed, #volume {
    font-weight: 600;
    font-size: medium;
    margin: 15px;
}

.div_volume { 
    float: right;
}

.play_button {
    width : 130px;
    font-size: 25px;
    font-weight: 600;
}

canvas {
    border : 5px solid white;
    border-radius: 25px;
}